* {
    margin:0px ;
    padding: 0px;
    background-color: #a5a5d5; /*gray;*/
}

#h1-top, #param-top {
    /* eye-candy specs */
    border-top-left-radius: 80px ;
    border-top-right-radius: 80px ; 
}
#h1-bottom, #param-bottom {
    /* eye-candy specs */
    border-bottom-left-radius: 80px ;
    border-bottom-right-radius: 80px ; 
}
#menu {
    position: absolute;
    margin-top: 5px;
    margin-left:4px;
    top : 0px;
}
#menu, #h1-top, #h1-bottom, #param-top, #param-bottom {
    width: 110px;  
    float: left;
    left : 0px;
}
#h1-top, #h1-bottom {
    background-color: lightblue ;
    text-align: center;
}
#h1-bottom {
    height: 15px;
}
#h1-top {
    height: 30px;
}
#param-top, #param-bottom {
    /* Proprietes de base */
    background-color: lightblue ;
    text-align: center;
    margin-bottom: 1px;
}
#param-top {
    margin-top: 10px;
    height: 30px;
}
#param-bottom {
    height: 15px;
    margin-top: 0px;
}
.button, .param {
    border: none;
    background-color: lightblue;
    margin-top: 0px;
    margin-bottom: 1px;
    padding: 2px 8px;
    width: 110px;
    height: 30px;
}
.button-selected {
    border: none;
    background-color: #d59494;
    margin-top: 0px;
    margin-bottom: 1px;
    padding: 2px 8px;
    width: 110px;
    height: 30px;
}
label {
    display: block;
    width: 110px;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: right;
}
br { clear: left; }

#glCanvas
{
    border: 0px ;
    position: relative;
    /* Centrage */
    top: 0px;
    left: 120px;
    right: 0px ;
    bottom: 0px;
    display: block ;
}

#nada {
   width:110px;
   height: 21px;
}

#info {
    float: left;
    left: 0px;
   display: block;
   text-align: center;
   width: 110px;
   height: 120px;
   margin-top: 10px;
   background-color: #d5d5ff; /* #d5d4d4; */
}


video {
  display: none;
}    